header>h1{
    text-align: center;
}

.main-container {
    display: flex;
}

.Form, .result {
    width: 100%;
    border: 1px solid;
}

.Form {
    text-align: center;
}

.result {
    text-align: center;
}

.title {
    background-color: yellowgreen;
}

.second-container {
    text-align: center;
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 24px;
}

.download button {
background-color: mediumseagreen;
}