header>h1{
    text-align: center;
}

.paragraph {
    text-align: justify;
}

.main-container {
    display: flex;
}

.Form, .result {
    width: 40%;
}

.Form {
    text-align: center;
    padding-right: 30px;
}

.result {
    text-align: center;
    padding-left: 30px;
}

.result>p {
    text-align: justify;
}
.first-container {
    text-align: left;
    padding-top: 16px;
    background-color: lightcyan;
}

.sex-container {
    padding-bottom: 16px;
}

.title {
}

.second-container {
    text-align: center;
    background-color: lightcyan;
    padding-top: 8px;
    padding-bottom: 24px;
}

.control-button {
    padding-top: 20px;
}

.control-button>button {
    background-color: lightskyblue;
    block-size: 38px;
    padding-right: 15px;
    border: 0cap;
}

.Specification {
    background-color: white;
}

.eksplanation {
    background-color: white;
    text-align: justify;
}

.download button {
background-color: lightskyblue;
block-size: 38px;
padding-right: 20px;
border: 0px;
}

.consultation-link>button {
    block-size: 38px;
    background-color: lightskyblue;
    border: 0cap;
}

.consultation-link>p {
    text-align: justify;
}

.obesity-indicator {
    background-color: lightcyan;
    text-align: center;
    padding-top: 5px;
}

.obesity-indicator>button {
    block-size: 38px;
    border: 0cap;
    background-color: orange;
}