header>h1{
    text-align: center;
}

.paragraph {
    text-align: justify;
}

.main-container {
    display: flex;
}

.Form, .result {
    width: 100%;
    border: 1px solid;
}

.Form {
    text-align: center;
}

.result {
    text-align: center;
}

.first-container {
    text-align: left;
    padding-top: 16px;
    background-color: lightgray;
}

.sex-container {
    padding-bottom: 16px;
}

.title {
    background-color: yellowgreen;
}

.second-container {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 24px;
}

.count-button {
    padding-top: 20px;
}

.download button {
background-color: mediumseagreen;
}